@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF; /* colorNeutralBackground1 */
    --foreground: #242424; /* colorNeutralForeground1 */
    --card: #FAFAFA; /* colorNeutralBackground2 */
    --card-foreground: #242424; /* colorNeutralForeground1 */
    --popover: #FAFAFA; /* colorNeutralBackground2 */
    --popover-foreground: #242424; /* colorNeutralForeground1 */
    --primary: #0F6CBD; /* colorBrandBackground */
    --primary-foreground: #FFFFFF; /* colorNeutralForegroundOnBrand */
    --secondary: #F0F0F0; /* colorNeutralBackground4 */
    --secondary-foreground: #242424; /* colorNeutralForeground1 */
    --muted: #F0F0F0; /* colorNeutralBackground4 */
    --muted-foreground: #616161; /* colorNeutralForeground3 */
    --accent: #E0E0E0; /* colorNeutralBackground5 */
    --accent-foreground: #242424; /* colorNeutralForeground1 */
    --destructive: #A80000; /* colorPaletteRedBackground3 */
    --destructive-foreground: #FFFFFF; /* colorNeutralForegroundOnBrand */
    --border: #D1D1D1; /* colorNeutralStroke1 */
    --input: #D1D1D1; /* colorNeutralStroke1 */
    --ring: #0F6CBD; /* colorBrandBackground */
    --radius: 0.375rem; /* 6px */
  }

  .dark {
    --background: #292929; /* colorNeutralBackground1 */
    --foreground: #FFFFFF; /* colorNeutralForeground1 */
    --card: #333333; /* colorNeutralBackground2 */
    --card-foreground: #FFFFFF; /* colorNeutralForeground1 */
    --popover: #333333; /* colorNeutralBackground2 */
    --popover-foreground: #FFFFFF; /* colorNeutralForeground1 */
    --primary: #2899F5; /* colorBrandBackground */
    --primary-foreground: #000000; /* colorNeutralForegroundOnBrand */
    --secondary: #3D3D3D; /* colorNeutralBackground4 */
    --secondary-foreground: #FFFFFF; /* colorNeutralForeground1 */
    --muted: #3D3D3D; /* colorNeutralBackground4 */
    --muted-foreground: #A3A3A3; /* colorNeutralForeground3 */
    --accent: #474747; /* colorNeutralBackground5 */
    --accent-foreground: #FFFFFF; /* colorNeutralForeground1 */
    --destructive: #F1707B; /* colorPaletteRedForeground1 */
    --destructive-foreground: #000000; /* colorNeutralForegroundOnBrand */
    --border: #424242; /* colorNeutralStroke1 */
    --input: #424242; /* colorNeutralStroke1 */
    --ring: #2899F5; /* colorBrandBackground */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}