---
import Layout from "@/layouts/Layout.astro";
import ForgotPasswordForm from "@/components/views/auth/ForgotPasswordForm";

const showForm = Astro.url.searchParams.get("dev") === "true";
---

<Layout title="Forgot Password">
  {
    showForm ? (
      <ForgotPasswordForm client:load />
    ) : (
      <div class="text-center mt-20">
        <h1 class="text-2xl font-bold">Feature Currently Unavailable</h1>
        <p class="text-muted-foreground">This feature is under development and will be available soon. ?dev=true</p>
      </div>
    )
  }
</Layout>
