---

---

<div
  class="relative max-w-4xl mx-auto backdrop-blur-xl bg-gradient-to-b from-white/10 to-white/5 rounded-2xl shadow-2xl p-8 text-white border border-white/10 min-h-[calc(100vh-4rem-2rem)] my-8"
>
  <slot />
</div>
